# Toolchain

# Go vendor
vendor/
# Goland project folder
.idea/
# Visual Studio Code
.vscode/
# emacs/vim
GPATH
GRTAGS
GTAGS
TAGS
tags
cscope.*
# mac
.DS_Store

# debug
testkeylog/
log/
*.log
*.pcap

# build
bin/

# release
release/src

# webconsole
webconsole/bin
webconsole/public

packages/
free5gc.zip

# VS Code Workspace config
*.code-workspace

# gtp5g tool used to show PDR
test/libgtp5gnl
test/go-gtp5gnl

# config.sh
.adminrc.tmp
