[submodule "amf"]
	path = NFs/amf
	url = https://bitbucket.org/free5gc-team/amf.git
[submodule "ausf"]
	path = NFs/ausf
	url = https://bitbucket.org/free5gc-team/ausf.git
[submodule "n3iwf"]
	path = NFs/n3iwf
	url = https://bitbucket.org/free5gc-team/n3iwf.git
[submodule "nrf"]
	path = NFs/nrf
	url = https://bitbucket.org/free5gc-team/nrf.git
[submodule "nssf"]
	path = NFs/nssf
	url = https://bitbucket.org/free5gc-team/nssf.git
[submodule "pcf"]
	path = NFs/pcf
	url = https://bitbucket.org/free5gc-team/pcf.git
[submodule "smf"]
	path = NFs/smf
	url = https://bitbucket.org/free5gc-team/smf.git
[submodule "udm"]
	path = NFs/udm
	url = https://bitbucket.org/free5gc-team/udm.git
[submodule "udr"]
	path = NFs/udr
	url = https://bitbucket.org/free5gc-team/udr.git
[submodule "go-upf"]
	path = NFs/go-upf
	url = https://bitbucket.org/free5gc-team/upf.git
[submodule "webconsole"]
	path = webconsole
	url = https://bitbucket.org/free5gc-team/webconsole.git
